/* COLORES */
$colorWhite: #FFF;
$colorCafe: #535C5B;
$colorGris: #dbdbdb;
$colorGrisAlt: #999;
$colorBlack: black;

/* TAMAÑOS TIPOGRAFIA */
$font-xxxxx-large: 50px;
$font-xxxx-large: 45px;
$font-xxx-large: 40px;
$font-xx-large: 35px;
$font-x-large: 30px;
$font-large: 20px;
$font-medium: 16px;
$font-small: 14px;
$font-x-small: 12px;

/* TIPOGRAFIAS */
$fontLibre: 'Libre Baskerville', serif;
$fontOpensans: 'Open Sans', sans-serif;